<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Stock Trading Simulator</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Muli'>

</head>
<body>
<style>
.textinput, .emailinput {
    width: 100%;
}



body{
  background: #1973d4 !important;
  font-family: 'Muli', sans-serif;

}
h1{
  color: #fff;
  padding-bottom: 2rem;
  font-weight: bold;
}
a{
  color: #333;
}
a:hover{
  color: #1973d4;
  text-decoration: none;
}
.form-control:focus {

    color: #000;
    background-color: #1897c2;
    border:2px solid #1973d4;
    outline: 0;
    box-shadow: none;
}
.btn{
  background: #1973d4;
  border: #1973d4;
}
.btn:hover {
  background: #1973d4;
  border: #1973d4;
}

</style>
<div class="pt-5">
  <h1 class="text-center">SIGN UP </h1>
<div class="container">
        <div class="row">
            <div class="col-md-5 mx-auto">
                <div class="card card-body">
                    {% load crispy_forms_tags %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ register_form | crispy }}
{#                        <div class="form-group required">#}
{#                            <lSabel for="username">First Name</lSabel>#}
{#                            <label for="username"></label><input type="text" class="form-control text-lowercase" id="username" required="" name="username" value="">#}
{#                        </div>#}
{#                        <div class="form-group required">#}
{#                            <lSabel for="username">Last Name</lSabel>#}
{#                            <label for="username"></label><input type="text" class="form-control text-lowercase" id="username" required="" name="username" value="">#}
{#                        </div>#}
{#                        <div class="form-group required">#}
{#                            <lSabel for="username">Email</lSabel>#}
{#                            <label for="username"></label><input type="text" class="form-control text-lowercase" id="username" required="" name="username" value="">#}
{#                        </div>#}
{#                        <div class="form-group required">#}
{#                            <lSabel for="username">Confirm Email</lSabel>#}
{#                            <label for="username"></label><input type="text" class="form-control text-lowercase" id="username" required="" name="username" value="">#}
{#                        </div>#}
{#                        <div class="form-group required">#}
{#                            <label class="d-flex flex-row align-items-center" for="password">Password</label>#}
{##}
{#                            <input type="password" class="form-control" required="" id="password" name="password" value="">#}
{#                        </div>#}
{#                        <div class="form-group mt-4 mb-4">#}
{#                            <div class="custom-control custom-checkbox">#}
{#                                <input type="checkbox" class="custom-control-input" id="remember-me" name="remember-me" data-parsley-multiple="remember-me">#}
{#                                <label class="custom-control-label" for="remember-me">Remember me?</label>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="form-group pt-1">
                            <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
                        </div>
                        <div class="form-group mt-4 mb-4">
                            <div class="custom-control custom-checkbox">
                                <a href="{% url "login" %}">Already have an account? Click here</a>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- partial -->

</body>
</html>