{% extends 'pages/index.html' %}
{% load static %}
{% block content %}
    <section class="landing-section landing-main" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static "images/stock.jpg" %}')">
        <h1 class="brand">Stock Market Indicator</h1>
        <h2>
        Your own financial advisor -- more than just stock broking
        </h2>
        <button class="button-17" role="button">Get Started</button>
    </section>
    <section class="landing-features">
        <div class="row services">
        <h1 class="section-heading">Our Services</h1>
        </div>
        <div class="row-one heading-1">
        <div class="column-one">
        <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-hammer"></i>
        </div>
        <h3>Service Heading</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
          consequatur necessitatibus eaque.
        </p>
        </div>
        </div>
        <div class="column-one">
        <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-brush"></i>
        </div>
        <h3>Service Heading</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
          consequatur necessitatibus eaque.
        </p>
        </div>
        </div>
        <div class="column-one">
        <div class="card">
        <div class="icon-wrapper">
          <i class="fas fa-wrench"></i>
        </div>
        <h3>Service Heading</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
          consequatur necessitatibus eaque.
        </p>
        </div>
        </div>
        </div>
    </section>

{% endblock %}