{% extends "pages/index.html" %}
{% load static %}
{% block content %}
<section class="landing-section landing-main" style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{% static "images/stock.jpg" %}')">
    <h1 class="brand">Top Market Movers</h1>
    <div class="table-grid">
    <div class="tab">
    <h3 class="top-gainers-top">Top Gainers</h3>
    <table class="tb">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Price Change</th>
          <th scope="col">Price</th>
          <th scope="col">%</th>
        </tr>
      </thead>
      <tbody >
      {% for ticker in data2 %}
        <tr>
          <th scope="row">{{ ticker.symbol }}</th>
             {% if ticker.change > 0.0 %}
            <td class="gainer">{{ ticker.change }}</td>
            {% elif ticker.change < 0.0 %}
            <td class="loser">{{ ticker.change }}</td>
            {% endif %}
          <td>{{ ticker.price }}</td>
          <td>{{ ticker.changesPercentage }}</td>
        </tr>
      {% endfor %}
{#        <tr>#}
{#          <th scope="row">2</th>#}
{#          <td>Jacob</td>#}
{#          <td>Thornton</td>#}
{#          <td>@fat</td>#}
{#        </tr>#}
{#        <tr>#}
{#          <th scope="row">3</th>#}
{#          <td>Larry</td>#}
{#          <td>the Bird</td>#}
{#          <td>@twitter</td>#}
{#        </tr>#}
      </tbody>
    </table>
    </div>
<div class="tab">
    <h3 class="top-losers-top">Top Losers</h3>
    <table class="tb">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Price Change</th>
          <th scope="col">Price</th>
          <th scope="col">%</th>
        </tr>
      </thead>
      <tbody>
        {% for ticker in data %}
        <tr>
          <th scope="row">{{ ticker.symbol }}</th>
            {% if ticker.change > 0.0 %}
            <td class="gainer">{{ ticker.change }}</td>
            {% elif ticker.change < 0.0 %}
            <td class="loser">{{ ticker.change }}</td>
            {% endif %}
          <td>{{ ticker.price }}</td>
          <td>{{ ticker.changesPercentage }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>


    <div class="tab">
    <h3 class="top-losers-top">Top Active</h3>
    <table class="tb">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Price Change</th>
          <th scope="col">Price</th>
          <th scope="col">%</th>
        </tr>
      </thead>
      <tbody>
        {% for ticker in data3 %}
        <tr>
          <th scope="row">{{ ticker.symbol }}</th>
            {% if ticker.change > 0.0 %}
            <td class="gainer">{{ ticker.change }}</td>
            {% elif ticker.change < 0.0 %}
            <td class="loser">{{ ticker.change }}</td>
            {% endif %}
          <td>{{ ticker.price }}</td>
          <td>{{ ticker.changesPercentage }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    </div>
    </div>
    </div>

</section>
{% endblock %}